
footer{
  position: fixed  ;
  bottom: 0;
  left: 0;
  right: 0;
  background: #361902;
  height: auto;
  width: 100vw;
  padding-top: 10px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
