
<div class="container">
  <div class="box">
    <h1>OGs</h1>
    <button class="btn">
      <!-- (click)="getJackSets() -->
      Jack Sparrow
    </button>
    <button class="btn" type="submit">
      Hector Barbossa
    </button>
  </div>
</div>

<div class="container">
  <div class="box">
<h1>Trilogy</h1>
<button class="btn" type="submit">
  Will Turner
</button>
<button class="btn" type="submit">
  Elizabeth Swan
</button>
<button class="btn" type="submit">
  James Norrington
</button>
<button class="btn" type="submit">
  Davey Jones
</button>
   </div>
</div>

<div class="container">
  <div class="box">
<h1>Encores</h1>
<button class="btn" type="submit">
  Blackbeard
</button>
<button class="btn" type="submit">
  Salazar
</button>
   </div>
</div>
