<!-- Load an icon library -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<body>
  <div class="navbar">
    <a href="#default" class="title">Pirates of the Brickbbean</a>
    <ul class="navbar-nav mr-right">
      <li class="nav-item active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/captain" routerLinkActive="active"><i class="fa fa-fw fa-user"></i>Captains</a>
        <a class="nav-link" routerLink="/treasure-chest" routerLinkActive="active"><i class="fa fa-fw fa-anchor"></i>Treasure Chest</a>
        <a class="nav-link" routerLink="/auth" (click)="onLogout()" routerLinkActive="active"><i class="fa fa-fw fa-times-circle-o"></i>Logout</a>
      </li>
      <li class="nav-item active" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fa fa-fw fa-sign-in"></i>Login</a>
      </li>

      <!-- <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fa fa-fw fa-anchor"></i>Login</a> -->
    </ul>
  </div>
</body>
